@charset "UTF-8";

aside{
  background-color: rosepink;
}
.photo{
  float: left;
  margin-right: 30px;
}

.clear_photo{
  clear: left;
}

.photo_game:after{
  content: "";
  clear: both;
  display: block;
}

#game_title{
  float: left;
}
