@charset "UTF-8";

body{
  margin: 30px;
}
.photo{
  float: left;
  margin-right: 30px;
}

.clear_photo{
  clear: left;
}

.photo_game:after{
  content: "";
  clear: both;
  display: block;
}

#game_title{
  float: left;
}

h1{
  padding: 30px;
  text-align: center;
}

.selected {
    background: #CCC;
}

ul li{
  border: 1px solid lightcoral;
  backgrond-color: mistyrose;
  padding: 5px;
  width: 100px;
  text-align: center;
}
